.swiper {
    max-width: 1200px;
    width: 91.66%;
    height: auto;
    padding-bottom: 60px;
}

/* Premium Shimmer Box */
.skeleton-box {
    position: relative;
    overflow: hidden;
    background-color: #ededed;
}

.skeleton-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.25) 20%,
        rgba(255, 255, 255, 0.5) 60%,
        rgba(255, 255, 255, 0)
    );
    animation: shimmerMove 1.8s infinite;
}

@keyframes shimmerMove {
    100% {
        transform: translateX(100%);
    }
}
